<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multicampus.androidlab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch04.TextViewActivity" />
        <activity android:name=".ch04.ImageViewActivity" />
        <activity android:name=".ch04.ButtonEditTextActivity" />
        <activity android:name=".ch05.LayoutWeightActivity" />
        <activity android:name=".ch05.RelativeLayoutAcitivity" />
        <activity android:name=".ch05.FrameLayoutActivity" />
        <activity android:name=".ch05.GridLayoutActivity" />
        <activity android:name=".ch07.CustomViewActivity" />
        <activity android:name=".ch17.IntentTestActivity"></activity>
    </application>

</manifest>